stages:
  - build_lambda
  - validate
  - plan
  - apply

variables:
  TF_ROOT: terraform
  TF_VAR_s3_bucket_name: "static-doc-vault" # Replace with your S3 bucket name
  TF_VAR_dynamodb_table_name: "doc_vault_users" # Replace with your DynamoDB table name
  TF_VAR_JWT_SECRET_KEY: "BNSJDJKFJDSKJFDSKFJDSKJFDSKJFDSKJFDSKJFDSKJFDJKF" # Replace with your JWT secret key
  TF_VAR_api_routes: '["/register", "/login", "/list-files", "/get-upload-url", "/delete-file"]' # Replace with your API routes
  TF_VAR_region: "ap-south-1"  # Replace with your AWS region

# STEP 1: Build & zip Lambda with Node.js
build_lambda:
  image: node:18
  stage: build_lambda
  script:
    - apt-get update && apt-get install -y zip
    - cd lambda
    - zip -r ../lambda_function.zip .
  artifacts:
    paths:
      - lambda_function.zip

# STEP 2: Terraform Validate
validate:
  image: 
    name : hashicorp/terraform:latest
    entrypoint: [""]
  stage: validate
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - terraform validate

# STEP 3: Terraform Plan
plan:
  image: 
    name : hashicorp/terraform:latest
    entrypoint : [""]
  stage: plan
  script:
    - cd $TF_ROOT
    - terraform init -input=false
    - cp ../lambda_function.zip .
    - terraform init -input=false
    - cp ../lambda_function.zip .
    - terraform plan -out=tfplan 
  artifacts:
    paths:
      - $TF_ROOT/tfplan

# STEP 4: Terraform Apply + Replace URLs + Upload Frontend
apply:
  image: 
    name : hashicorp/terraform:latest
    entrypoint : [""]
  stage: apply
  script:
    - apk add --no-cache bash curl jq aws-cli
    - cd $TF_ROOT
    - terraform init -input=false
    - cp ../lambda_function.zip .
    - terraform apply -auto-approve 
    - export API_URL=$(terraform output -raw api_base_url)
    - sed -i "s|%%API_URL%%|$API_URL|g" ../frontend/public/index.html
    - sed -i "s|%%API_URL%%|$API_URL|g" ../frontend/public/register.html
    - sed -i "s|%%API_URL%%|$API_URL|g" ../frontend/public/dashboard.html
    - aws s3 cp ../frontend/public/index.html s3://$TF_VAR_s3_bucket_name/index.html --content-type "text/html"
    - aws s3 cp ../frontend/public/register.html s3://$TF_VAR_s3_bucket_name/register.html --content-type "text/html"
    - aws s3 cp ../frontend/public/dashboard.html s3://$TF_VAR_s3_bucket_name/dashboard.html --content-type "text/html"
  dependencies:
    - build_lambda
  when: manual
