stages:
  - plan
  - apply

variables:
  TF_ROOT: terraform
  AWS_REGION: ap-south-1
  TF_VAR_bucket_name: static-doc-vault

default:
  image:
    name: hashicorp/terraform:latest
    entrypoint: [""]
  before_script:
    - apk add --no-cache bash curl jq zip aws-cli
    - cd $TF_ROOT
    - terraform init -input=false

plan:
  stage: plan
  script:
    - cd ../lambda
    - npm install
    - zip -r ../lambda_function.zip .
    - cd ../$TF_ROOT
    - terraform plan -out=tfplan -input=false
  artifacts:
    paths:
      - tfplan
      - api_url.txt

apply:
  stage: apply
  script:
    - cd ../lambda
    - npm install
    - zip -r ../lambda_function.zip .
    - cd ../$TF_ROOT
    - terraform apply -auto-approve 
    - export API_URL=$(terraform output -raw api_base_url)
    - sed -i "s|%%API_URL%%|$API_URL|g" ../frontend/public/index.html
    - sed -i "s|%%API_URL%%|$API_URL|g" ../frontend/public/register.html
    - sed -i "s|%%API_URL%%|$API_URL|g" ../frontend/public/dashboard.html
    - aws s3 cp ../frontend/public/index.html s3://$TF_VAR_bucket_name/index.html --content-type "text/html"
    - aws s3 cp ../frontend/public/register.html s3://$TF_VAR_bucket_name/register.html --content-type "text/html"
    - aws s3 cp ../frontend/public/dashboard.html s3://$TF_VAR_bucket_name/dashboard.html --content-type "text/html"
    - aws s3 sync ../frontend/public/ s3://$TF_VAR_bucket_name/ --exclude "*.html" 
  when: manual